### Monitor

The market for the Monitor stage is aligned around key players [New Relic, Splunk, ServiceNow and Datadog](http://videos.cowen.com/detail/videos/recent/video/6040056480001?autoStart=true). Datadog, New Relic and Splunk are all headed towards integrated observability platforms based on collecting all available telemetry. [ServiceNow (i)](https://drive.google.com/file/d/1VvnJ5Q5PJzPKZ_oYBHGNuc6D7mtMmIZ_/view) is considered a standard for help-desk and Incident Management workflows. Strong existing players with large sustained R&D investment will make it difficult for GitLab to compete head-to-head for Monitor stage market share, especially with traditional Operations and System Administration users.

You can read more about the [Monitor stage plan](/direction/monitor/#whats-next) on the [Monitor Direction page](/direction/monitor/).

The [Monitor stage](/direction/monitor) is made up of several categories:

#### Monitor Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "monitor" }) %>

#### Pricing
<%= partial("direction/ops/tiering/monitor") %>