.column
  .title
    Join us on a webinar for GitLab vs Github
  .description
    Sign up now and take advantage of our awesome offer.
  = link_to "Register now", "/", class: "webinar-button margin-top10"
  .description.opacity05
    Little blurb about the form disclaimer.
