.row
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 What is GitOps?

    %p
      %strong GitOps
      is an operational framework that takes DevOps best practices used for application development such as version control, collaboration, compliance, and CI/CD, and applies them to infrastructure automation.
    = link_to "Learn more", "/topics/gitops/", class: "btn cta-btn orange margin-top20"
%hr.divider