---
title: "GitLab Meetups: October 2019"
author: John Coghlan
author_gitlab: johncoghlan
author_twitter: john_cogs
categories: unfiltered
image_title: '/images/blogimages/0919meetups.png'
description: "See where the GitLab community will be gathering this month"
tags: community, events
cta_button_text: 'No meetup near you? Start one!' # optional
cta_button_link: '/community/meetups/'
ee_cta: false
twitter_text: "Check out all the @gitlab Meetups happening in October!"
postType: corporate # i.e.: content marketing, product, corporate
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Can't make it to London for [GitLab Commit](/events/commit)? Here are some other places you'll find the GitLab community in October.

![GitLab Meetups map](/images/blogimages/gitlab-meetup-map-2019-10.jpg){: .shadow}

#### GitLab Nigeria Community

Take a deep dive into GitLab at this meetup in Bauchi, Nigeria on October 5. This meetup will cover Planning, Source Code Management, CI/CD, Monitoring & Security. Details and RSVP on [Meetup](https://www.meetup.com/GitLab-Nigeria-Community/events/263879735/). 

#### GitLab Polska

The GitLab Polska meetup group will gather in Warszawa on October 8 for talks on GitLab and updates on our latest release. Details and RSVP on [Meetup](https://www.meetup.com/GitLab-Polska/events/265018178/).

#### GitLab Białystok

The second of two meetups in Poland on October 8, this event in Białystok will feature a talk on using GitLab for static pages. Details and RSVP on [Facebook](https://www.facebook.com/events/692557334577918/).

#### Frankfurt GitLab Meetup x Age of DevOps 

The Frankfurt GitLab Meetup Group is partnering with the Age of DevOps meetup group for this event featuring talks on controlling Kubernetes appliations with GitLab and using GitLab for developers. The co-meetup will be in Weisbaden on October 10. Details and RSVP on [Meetup](https://www.meetup.com/GitLab-Nigeria-Community/events/264073442/).

#### GitLab Nigeria Community 

Learn how to use Git like a pro at this community lead event in Abuja, Nigeria on October 18. Details and RSVP on [Meetup](https://www.meetup.com/GitLab-Nigeria-Community/events/264073442/).

#### GitLab Hamburg Meetup

The GitLab community will meet in Hamburg, Germany on October 23 for a CLI-Tool "Lab" and a Q&A with some GitLab team members. Details and RSVP on [Meetup](https://www.meetup.com/GitLab-Meetup-Hamburg/events/264381595).

#### Greater Atlanta GitLab Meetup

Details coming soon but mark your calendars for October 24!

#### México City GitLab Meetup 

This GitLab 101 workshop will teach attendees how to get started with GitLab. Details and RSVP on [Meetup](https://www.meetup.com/Mexico-City-GitLab-Meetup/events/265343816/).

#### What's next?

Are you ready to join a local community but don’t see an event near you? Take a look at the [GitLab Meetups page](/community/meetups) or reach out to [me](https://twitter.com/john_cogs/) to learn how GitLab can help you start a meetup in your area.
